
/* comportamento do corpo */
body{
    font-family: sans-serif;
    background-color: #484c4f;
}

.container{
    margin: auto;
    border: 1px;
    max-width: 1200px;
    z-index: 10;
}

/* Menu fixado */
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family:sans-serif;
}

li{
    margin: 8px 16px;
    list-style: none;  
}

li:hover{
    animation: pulse 0.5s infinite alternate ease;
}


@keyframes pulse{
    0%{
        transform: scale(1)
    }
    100%{
        transform: scale(1.1)
    }
}

ul{
    margin: 0%;
    display: flex;
    background-color: rgba(69, 133, 252, 0.719);
    position: fixed;
    width: 100%;
    min-height: 40px;
    top: 0;
    left: 0;
    text-align: center;
}


/* Elementos Genericos*/

.embrulho{
    margin: 70px 0px 0px 0px;
}

article{
    flex-wrap: wrap;
    padding: 10px;
    border: 1px;
    margin: 0%;
    min-height: 600px;
}

h1{
    font-size: 5em;
    color: aliceblue;
}

p{
    color: aliceblue;
    font-size: 100%;
}

span{
    padding: 0.3%;
}

footer{
    background-color:rgba(69, 133, 252, 0.719);
    min-height: 40px;
    width: 100%;
    text-align: center;
}

/* individuais */
