
/* comportamento do corpo */
html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    animation: move-fundo 20s linear infinite alternate;
    background-image: url(/assets/estrelas_fundo.jpeg);
    transition-property: url;
    transition: 1s;
    transform-style: flat;
    background-size: 180vh;
}

.container{
    margin: auto;
    border: 1px;
    max-width: 1200px;
}


/* Menu fixado */
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 3.5vh;
    font-family:sans-serif;
}

li{
    margin: 1vh 2vh;
    list-style: none;  
}

li:hover{
    animation: pulse 0.5s  ease-out infinite alternate;
    animation-play-state: running; 
}

li:active{
    transition: linear;
    transition: 0.3s;
    transform:translateY(-5px);
}  


ul{
    margin: 0%;
    display: flex;
    background-color: rgba(0, 36, 104, 0.719);
    position: fixed;
    width: 100%;
    min-height: 6.6vh;
    top: 0;
    left: 0;
    text-align: center;
}


/* Elementos Genericos*/

.embrulho{
    margin: 70px 0px 0px 0px;
}

article{
    flex-wrap: wrap;
    padding: 10px;
    border: 1px;
    margin: 0%;
    min-height: 150vh;
}

h1{
    border: 1px;
    padding: 0%;
    margin: 0%;
    font-size: 7vh;
    color: aliceblue;
}
h2{
    color: aliceblue;
}

p{
    color: aliceblue;
    font-size: 100%;
}

span{
    color: aliceblue;
    padding: 0.3%;
}

footer{
    text-align: center;
    position: absolute;
    left: -10px;
    background-color:rgba(2, 57, 160, 0.719);
    min-height: 3.5em;
    width: 105%;
}

/* individuais */

.face{
    margin: 0;
    float: left;
    border: 1vh solid rgba(0, 47, 255, 0.479);
    border-radius: 2vh;
    width: 70vh;
    animation: border-rotate 4s infinite alternate-reverse ease-in-out;
}

#boasVindas h1{
    margin: 12vh 0vh 0vh 3vh;
    float:left;
    text-align: left;
    font-size: 12vh;
}

#habilidades embrulho{
    display:flex;
    align-items: center;
}

span img{
    width: 20vh;
}


/* Animações */

@keyframes move-fundo {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
    
}

@keyframes pulse{
    100%{
        text-shadow: rgb(255, 255, 255) 2px 2px 20px;
    }
}

@keyframes border-rotate {
    0%{
        box-shadow: rgba(0, 47, 255, 0.479) 1vh 1vh ;
        border-radius: 50%;  
    }
    25%{
        box-shadow: rgba(0, 47, 255, 0.479) -1vh 1vh ;
        border-radius: 50%; 
    }
    50%{
        box-shadow: rgba(0, 47, 255, 0.479) -1vh -1vh;
        border-radius: 50%; 
    }  
    100%{
        box-shadow: rgba(0, 47, 255, 0.479) 1vh -1vh;
        border-radius: 50%;
        
    }  
}