/* Home */

#home {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	animation: Opacity-home 2s forwards linear;
}

@keyframes Opacity-home {
	0% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}

#home h2 {
	font-size: 3.7em;
	width: 400px;
	text-align: left;
	animation: move 2s alternate infinite ease-in-out;
}

@keyframes move {
	0% {
		opacity: 80%;
		transform: scale(1);
	}
	100% {
		transform: scale(1.02);
		opacity: 100%;
	}
}

.face {
	border-radius: 50%;
	width: 350px;
}

.back-face {
	display: flex;
	justify-content: center;
	align-items: center;
}

.back-face::before {
	content: "";
	background: linear-gradient(
		90deg,
		rgb(0, 36, 83) 20%,
		rgba(0, 212, 255, 1) 100%
	);
	position: absolute;
	width: 360px;
	height: 360px;
	border-radius: 50%;
	z-index: -1;
	animation: border-rotate 6s infinite linear;
}

@keyframes border-rotate {
	100% {
		transform: rotate(1800deg);
	}
}