/* sobre mim */
#sobre {
	flex-direction: column;
	justify-content: space-evenly;
}

#text {
	margin-bottom: 50px;
}

#cursos {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	flex-direction: row;
}

.BoxListSkills {
	min-height: 200px;
	width: 350px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
}

.arrow {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-left: 5px;
	transform: rotate(45deg);
	border-top: 4px solid black;
	border-right: 4px solid black;
	background-color: #e4e4e400;
}



button {
	margin-bottom: 15px;
	min-height: 30px;
	border: none;
	background: none;
	cursor: pointer;
	font-size: 1.1em
}

button:hover{
	animation: buttonSlide 300ms alternate infinite ease-in;
}
@keyframes buttonSlide {
	100%{
		transform: translateX(10px);
	}
	
}

.resumo {
	width:500px;
	height: 400px;
}
.image {
	width: 450px;
	height: 300px;
	box-shadow: 1px 1px 3px black;
	border-radius: 10px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.estacio {
	background-image: url(/assets/estacio.png);
}
.red {
	background-image: url(/assets/redzero.jpg);
}

/* ================== */

.ativo {
	display: contents;
}

.desativo {
	display: none;
}
