/* tecnologias */
#icons {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: flex-start;
}

span {
	margin: 30px;
}

span img {
	width: 40px;
}

/* Projetos */
* {
	box-sizing: border-box;
}